.errorDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 20px;
}

.errorIcon {
  padding: 14px;
  background-color: pink;
  border-radius: 50%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 70%;
  text-align: center;
}

.title {
  font-size: var(--text-lg);
  font-weight: var(--weight-semibold);
}

.description {
  color: var(--neutral-darker);
}

.buttonGroup {
  display: flex;
  gap: 12px;
}

.errorLogWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  width: 50%;
  border: 1px solid var(--slate-border);
  border-radius: 12px;
  background-color: var(--bg-surface);
  font-size: var(--text-sm);

  li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--slate-border);
    gap: 60px;
  }
}

.horizontalLine {
  display: block;
  width: 50%;
  border-top: 1px solid var(--slate-border);
  margin: 4px 0;
}

.errorLabel {
  font-weight: var(--weight-med);
  color: var(--neutral-darker);
}

.errorValue {
}
