.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--form-border);
  border-radius: var(--radius-md);
  padding: 6px 0px 6px 14px;
}

.inputWrapper:focus-within {
  outline: 2px solid purple;
}

.input {
  flex-grow: 1;
  min-width: 0;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: var(--text-main);

  padding: 0;
}

.iconWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 14px;
  flex-shrink: 0;
}

.iconWrapper button {
  color: var(--sky-11);
}

.iconWrapper button:focus {
  outline-offset: 4px;
}

.iconWrapper button svg {
  width: 20px;
  height: 20px;
}

.errorInput {
  background-color: var(--danger-soft);
}
