.button {
  padding: 12px 18px;
  font-weight: var(--weight-semibold);
  border-radius: var(--radius-lg);

  &:hover {
    background-color: var(--bg-ui);
  }

  &:active {
    background-color: var(--bg-ui-active);
    transform: scale(0.96);
  }

  &:focus-visible {
    /* TO DO: change focus ring color */
    outline: 2px solid purple;
    outline-offset: 2px;
  }
}

.primary {
  background-color: var(--primary-base);
  color: var(--primary-contrast);

  &:hover {
    background-color: var(--primary-hover);
  }
}

.secondary {
  background-color: var(--secondary-base);
  color: var(--secondary-contrast);

  &:hover {
    background-color: var(--secondary-hover);
  }

  &:active {
    background-color: var(--secondary-active);
  }
}

.tertiary {
  border: 1px solid #cdced6;
  color: var(--text-main);

  &:hover {
    background-color: var(--tertiary-hover);
  }

  &:active {
    background-color: var(--tertiary-active);
  }
}
