body {
  font-family: 'Inter', sans-serif;
  font-size: var(--text-base);
  line-height: var(--lh-base);
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-canvas);
  color: var(--text-main);

  /*Temporary*/
  display: flex;
  justify-content: space-around;
  align-items: center;

  #root > div {
    display: flex;
    gap: 100px;
  }
  /*Temporary*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

p {
  text-wrap: pretty;
}

button {
  line-height: normal;
}

button:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}
