body {
  font-family: var(--font-main);
  font-size: var(--font-size-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-app);
  color: var(--text-main);
  /* temporary */
  margin: 20px 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

p {
  text-wrap: pretty;
}

button:not(:disabled) {
  cursor: pointer;
}

/* temporary */
#root {
  display: flex;
  justify-content: space-around;
}
