.selectContainer {
}

/*TEMPORARY*/
.valueContainer {
  display: flex;
  align-items: center;
  background-color: var(--pure-white);
  border: 1px solid var(--form-border-color);
  border-radius: var(--radius-md);
  margin-bottom: 6px;
}

.valueContainer:hover {
  border-color: var(--form-border-focus-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.valueDisplay {
  flex: 1;
  padding-left: 8px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.closeBtn {
  display: flex;
  position: relative;
}

.iconWrapper .closeBtn::after {
  content: '|';
  color: var(--slate-border);
  position: absolute;
  right: -3px;
}

.iconWrapper svg {
  width: 20px;
  height: 20px;
}

.iconWrapper > * {
  padding: 8px;
  color: var(--neutral-darker);
}

.iconWrapper > *:hover {
  color: var(--sky-11);
}

.dropdownMenu {
  background-color: var(--pure-white);
  box-shadow:
    rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;

  height: 150px;
  overflow-y: scroll;

  padding: 3px 0;
  scroll-padding: 200px;
}

.wrapperDisabled {
  pointer-events: none;
  opacity: 60%;
}

/*STYLES for Option*/
.option {
  display: flex;
  padding: 4px 8px;
}
.option:hover {
  background-color: var(--sky-3);
}

.selectContainer input {
  flex: 1;
  border: none;
  background-color: inherit;
  color: var(--text-main);
  padding: 0;
}

.selectContainer input:focus,
.selectContainer input:focus-visible {
  border: none;
  outline: none;
}

.valueContainer:focus-within {
  border: 1px solid var(--input-focus);
  box-shadow: var(--input-focus) 0px 1px 0px;
}

.placeholderDisplay {
  width: 100%;
  height: 100%;
  text-align: start;
  margin-right: auto;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  opacity: 0.5;
  padding: 3px 0 2px 0;
}

.placeholderDisplay:focus-visible {
  outline: none;
}

input::placeholder {
  color: inherit;
  opacity: 0.5;
  padding: 3px 0 2px 0;
}

input.displaySelectedValue::placeholder {
  color: var(--text-main);
  opacity: unset;
  font-size: inherit;
}

.selected {
  background-color: var(--sky-6);
}

.valueContainer > input,
.valueContainer button {
  min-height: 38px;
  padding-left: 8px;
}
